* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: white;
}
html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  /* podemos aplicar un color de fondo por si el video no carga */
  background-color: teal;
  font-size: 1.3rem;
  color: rgb(105, 105, 105);
}

video {
  position: fixed;
  z-index: -1;
}

h1 {
  position: absolute;
  top: 250px;
  font-size: 5rem;
  font-weight: 700;
}
h1 span {
  text-decoration: underline;
  font-weight: 700;
}

.cover {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(226, 226, 226, 0.178); */
}

div, form {
  display: flex;
  justify-content: center;
  align-items: center;
}
input, select, button {
  /* border-radius: 3px; */
  height: 40px;
  border: none;
  padding: 3px;
  text-align: center;
  transition: .3s;
  background-color: #121f3d;
  outline: none;
}
input:hover, select:hover, label:hover {
  background-color: #24385b;
  border-radius: 50px;
  text-decoration: underline;
}
::placeholder {
  color: white;
  opacity: 1;
}
label {
  display: flex;
  /* flex-direction: column; */
  /* padding: 3px; */
  align-items: center;
  border-right: 1px solid rgba(105, 105, 105, 0.561);
  text-align: center;
  background-color: #121f3d;
}
span {
  padding: 0 3px;
}
button {
  padding: 10px;
  border: none;
  background: teal;
  color: white;
  /* height: 71px; */
}
button:hover {
  background-color:rgb(1, 160, 160);
  text-decoration: underline;
  border-radius: 15px;
  cursor: pointer;
}
.flex-form {
  background-color: rgba(59, 59, 59, 0.424);
  border: 12px solid rgba(59, 59, 59, 0.424);
  border-radius: 5px;
  background-clip: padding-box;
}


a {
  /* color: white; */
}
